.foto-perfil {
    width: 200px;
    height: 200px;
    border: 1px solid #CEFFE4;
    border-radius: 50%;
    object-fit: cover;
}

#coluna-esquerda {
    background-color: #262626;
}

#coluna-direita {
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 100vh;
}

a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 25px;
}

a:hover {
    font-size: 30px;
    color: aliceblue; 
}

@media screen and (min-width: 768px) {
    .espacamento-classes {
        margin-top: 100px !important;
    }
}

.espacamento-classes {
    text-align: justify;
}